*{
text-align: center;
font-family: sans-serif;
}

/* .option{
    border-radius: 20px;
    letter-spacing: 2px;
    padding: 10px 20px;
    margin: 20px 20px;
} */

/* body{
    background-color: aqua;
} */

.input{
    letter-spacing: 2px;
    margin: 20px 20px;
    padding: 10px 20px;
    border: 2px solid black;
}

.container{
    margin: 100px;
}

.submit{
    border: 2px solid black;
    color: white;
    padding: 10px 20px;
    background-color: indianred;
    border-radius: 20px;
}

.submit:hover{
    background: transparent;
    border: 2px solid indianred;
    color: black;
}

.option{
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 5px;
}

.option:hover{
    background: transparent;
    color: black;
}

.text{
    font-size: 50px;
    font-family: sans-serif;
    font-style: italic;
}

.result{
    font-size: 30px;
    font-family: sans-serif;
}